Randomisation
First of all we need to import random module in our code.

In [ ]:
import random
random_integer = random.randint(0,10)
print(random_integer)

8

In [ ]:
l = [11,19,10,14,15]
l.append(18)
print(l)
print(type(l))
l.sort()
print(l)
l.sort(reverse=True)
print(l)
l.reverse()
print(l)
print(l[1])
print(l.index(18))
print(l.count(18))
l.insert(1,899)
print(l)
m = ['a','b','c','d','e']
print(m)
l.extend(m)
print(l)

[11, 19, 10, 14, 15, 18]
<class 'list'>
[10, 11, 14, 15, 18, 19]
[19, 18, 15, 14, 11, 10]
[10, 11, 14, 15, 18, 19]
11
4
1
[10, 899, 11, 14, 15, 18, 19]
['a', 'b', 'c', 'd', 'e']
[10, 899, 11, 14, 15, 18, 19, 'a', 'b', 'c', 'd', 'e']

Tuple

In [ ]:
tup = (1,2,3,4)

tup(1) = 2

SyntaxError: cannot assign to function call (2568317982.py, line 4)

In [ ]:
tup = (11,15,10,80,150,45)
print(tup)
print(type(tup))
print(tup[0])
print(tup[-1])
print(len(tup))
tup2 = tup[1:4]
print(tup2)
for i in tup:
    print(i)

(11, 15, 10, 80, 150, 45)
<class 'tuple'>
11
45
6
(15, 10, 80)
11
15
10
80
150
45

Fstring

In [ ]:
letter = "My name is {} and I am from {}"
country = "India"
name = "Rohit"
print(letter.format(name,country))

My name is Rohit and I am from India

In [ ]:
letter = "My name is {0} and I am from {1}"
country = "India"
name = "Rohit"
print(letter.format(name,country))

My name is Rohit and I am from India

In [ ]:
letter = "My name is {1} and I am from {0}"
country = "India"
name = "Rohit"
print(letter.format(country,name))

My name is Rohit and I am from India

In [ ]:
country = "India"
name = "Rohit"
print(f"My name is {name} and I am from {country}")

My name is Rohit and I am from India

In [ ]:
price = 78.999994546
print(f"Price of foode is {price}")
print(f"price of food is {price:.2f}")
print(f"Price of foode is {{price}}")

Price of foode is 78.999994546
price of food is 79.00
Price of foode is {price}

#DOCSTRING

Python doesnot igrnore docstring like comments.

We add this just after the function,class etc declaration. They can't be written anywhere else or they will be treated as comments

In [ ]:
def square(n):
    '''Take a number n and returns the square of the number n'''
    return n*n

print(square.__doc__)

Take a number n and returns the square of the number n

PEP8

The primary focus of PEP 8 is to improve the readablitliy and consistency of python code.

#RECURSION

In [ ]:
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*(factorial(n-1))

print(factorial(7))

5040

In [ ]:
myfiles = open('Basics/test.txt')
myfiles.read()

'Hello this is the first line\nHello this is the second line\nHello htis is the third line'

In [ ]:
myfiles.read()

''

In [ ]:
myfiles.seek(0)
myfiles.read()

'Hello this is the first line\nHello this is the second line\nHello htis is the third line'

In [ ]:
myfiles.seek(0)
myfiles.readline()

'Hello this is the first line\n'

In [ ]:
myfiles.seek(0)
myfiles.readlines()

['Hello this is the first line\n',
 'Hello this is the second line\n',
 'Hello htis is the third line']

In [ ]:
myfiles.close()

In [ ]:
with open('Basics/test.txt') as my_new_file:
    contents = my_new_file.read()

In [ ]:
contents

'Hello this is the first line\nHello this is the second line\nHello htis is the third line'

In [ ]:
with open('Basics/test.txt',mode='a') as my_edited_file:
    my_edited_file.write("\nThis is the fourth line")

In [ ]:
with open('Basics/test.txt',mode='a') as my_edited_file:
    my_edited_file.write("\nThis is the fourth line")

In [ ]:
x = 0
while x <5:
    print(f'The value of x is {x}')
    x +=1
else:
    print('X is not less than 5')

The value of x is 0
The value of x is 1
The value of x is 2
The value of x is 3
The value of x is 4
X is not less than 5

In [ ]:
my_list = [1,2,3,4,5,6,7,8]
for i in my_list:
    print(i)

1
2
3
4
5
6
7
8

In [ ]:
tup = (1,2,3)
for x in tup:
    print(x)

1
2
3

In [ ]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [ ]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for x in mylist:
    print(x)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [ ]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for a,b in mylist:
    print(b)

2
4
6
8

In [ ]:
dict = {'k1':1,'k2':2,'k3':3}

for item in dict:
    print(item)

k1
k2
k3

In [ ]:
dict = {'k1':1,'k2':2,'k3':3}

for item in dict.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
dict = {'k1':1,'k2':2,'k3':3}

for key,value in dict.items():
    print(value)

1
2
3

In [ ]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in range(1,11,2):
    print(num)

1
3
5
7
9

In [ ]:
word = 'abcde'

for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [ ]:
word = 'abcde'

for index,letter in enumerate(word):
    print(letter,index)

a 0
b 1
c 2
d 3
e 4

In [ ]:
ml = [1,2,3,4]
al = ['a','b','c']

for item in zip(ml,al):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
mylist = [n**2 for n in range(0,11,2)]
print(mylist)

[0, 4, 16, 36, 64, 100]

In [ ]:
mylist = [n**2 for n in range(0,11) if n%2==0]
print(mylist)

[0, 4, 16, 36, 64, 100]

In [ ]:
def myfunct(*args):
    return sum(args)/len(args)

print(myfunct(5,8,15,40,97))

33.0

In [ ]:
def myfunc(n):
    return n*n
my_nums = [1,2,3,4,5]
map(myfunc,my_nums)

In [ ]:
def myfunc(n):
    return n*n
my_nums = [1,2,3,4,5]
for n in map(myfunc,my_nums):
    print(n)

1
4
9
16
25

In [ ]:
square = lambda num: num**2

In [ ]:
square(5)

25

In [ ]:
my_List = [1,2,3,4,5]
for i in map(lambda num: num**2,my_List):
    print(i)

1
4
9
16
25

LEGB rule

L: Local - Names assigned in any way within a function(def or lambda), and not declared glbal in that function

E: Enclosing function local - Names in the local scope of any and all enclosing functions(def or lambda), form innter to outer.

G: Global - Names assinged at the toplevel of a module file, or declared global in a def withing the file.

B: Builtin - Name preassigned in built in names module like range open etc.

In [ ]:
class NameOfClass():
    '''This is just a sample format of class'''
    def __init__(self,param1,param2):
        self.param1 = param1
        self.param2 = param2
    
    def some_mehtod(self):
        print(self.param1)

In [ ]:
class Sample():
    pass

my_sample = Sample()
type(my_sample)

__main__.Sample

In [ ]:
class Dog():
    def __init__ (self,breed,name,spots):
        self.breed = breed
        self.name = name
        self.spots = spots

my_dog = Dog("labro","Yuthi",True)
print(my_dog.breed,my_dog.name,my_dog.spots)

labro Yuthi True